body {
    background-color: rgb(50, 142, 175);
   
}

#slogan{
  color: white;   
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 50px;
}
#podslogan{
  color: white;   
  font-family: Montserrat, sans-serif;
  text-align: center;
  font-size: 25px;
}
#products{
  color: rgb(255, 255, 255);   
  font-family: Montserrat, sans-serif;
  text-align: center;
}

p {
  color: white;   
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  text-align: left;
  margin: 10px;
  transform: translate(20px, 400px);
}
